
article{
    display: inline-block;
    margin-top: 25vh;
    margin-left: 15vh;
    width: 50%;
}
aside{

    margin-top: 15vh;
    float: right;
    width: 40%;
    margin-left: 5vh;

}

#estrellacont{
    margin-left: 2vh;
    width: 50vh;
    margin-bottom: 2vh;
}
